{% extends 'diary_app/base.html' %}
{% block content %}
    <div class="card shadow p-4 glass-effect">
        <h2 class="mb-4 text-center">Forgot Password</h2>
        <form method="POST" onsubmit="showLoader(this)">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Enter your Email:</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <button type="submit" id="submit-btn" class="btn btn-primary w-100">
                Send OTP
            </button>
        </form>
    </div>
    {% comment %} {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %} {% endcomment %}


<script>
function showLoader(form) {
    const btn = form.querySelector("#submit-btn");
    btn.disabled = true;
    btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span> Sending...';
}
</script>


<script>
    setTimeout(function() {
        var alert = document.querySelector('#message-container .alert');
        if (alert) {
            // Pehle fade-out class add karenge

            // Fir completely remove karenge
            setTimeout(function() {
                alert.remove();
            }, 500); // fade out animation time
        }
    }, 3000); // 3 second ke baad hata dena
</script>

{% endblock %}
